<form class="search-form" id="search-form">
  <input
    type="text"
    name="query"
    autocomplete="off"
    placeholder="Search images..."
  />
</form>

<ul class="gallery">
  <!-- Список <li> с карточками изображений -->
</ul>

<!-- <div class="photo-card">
  <img src="https://pixabay.com/get/g2d6128c16db452fd3df62bfbda2f2d2aefa65fc4062cf8a5ac6a0b1d7a05eee1c4f1893565cf7e68eb69395ad5d0f503_640.jpg" />

  <div class="stats">
    <p class="stats-item">
      <i class="material-icons">thumb_up</i>
      1108
    </p>
    <p class="stats-item">
      <i class="material-icons">visibility</i>
      320321
    </p>
    <p class="stats-item">
      <i class="material-icons">comment</i>
      129
    </p>
    <p class="stats-item">
      <i class="material-icons">cloud_download</i>
      176019
    </p>
  </div>
</div> -->
